<a class="janrainEngage" href="#">Sign-In</a>
<iframe id="game-widget" src="https://game.backplane.dev"></iframe>

<script>
  // janrain engage
  (function ($) {
    window.janrain = window.janrain || {};
    window.janrainWidgetOnload = function () {
      $(document).trigger('widgets.janrain.ready');
      janrain.events.onProviderLoginToken.addHandler(function (message) {
        $(document).trigger('widgets.janrain.logged-in', message);
      });
    };
    $(document).ready(function () {
      janrain.ready = true;
    });
    janrain.settings = {
      tokenUrl: '<%= engage_token_url %>',
      tokenAction: 'event',
      appId: 'glhepdnkgljnndmleaec',
      appUrl: 'https://gree.rpxnow.com'
    };
    $.getScript('https://rpxnow.com/js/lib/nov/engage.js');
    $(document).bind('backplane.connected', function () {
      var channel_id = Backplane.getChannelID();
      $(document).bind('widgets.janrain.ready', function () {
        janrain.engage.signin.setBackplaneChannel(channel_id);
      });
      $(document).bind('widgets.janrain.logged-in', function (event, message) {
        janrain.engage.signin.modal.close();
      });
    });
  })(jQuery);

  // game
  (function ($) {
    var widget = $('#game-widget');
    var widget_window = widget.get(0).contentWindow;
    $(document).bind('backplane.connected', function (event) {
      setTimeout(function () {
        widget_window.postMessage({
          type: 'backplane.connected',
          message: $.cookie('backplane2-channel')
        }, widget.attr('src'));
      }, 500);
    });
    $(document).bind('widgets.janrain.logged-in', function (event) {
      widget_window.postMessage({
        type: 'widgets.janrain.logged-in'
      }, widget.attr('src'));
    });
  })(jQuery);

  // backplane
  (function ($) {
    var connect = function (bus_name) {
      Backplane(connected);
      Backplane.init({
        serverBaseURL: 'https://backplane1.janrainbackplane.com/v2',
        busName: bus_name
      });
    }
    var connected = function () {
      var channel_id = Backplane.getChannelID();
      if (channel_id != undefined) {
        $(document).trigger('backplane.connected');
      }
    }
    connect('gree.net');
  })(jQuery);
</script>