<a class="janrainEngage" href="#">Sign-In</a>
<iframe src="https://game.backplane.dev"></iframe>

<script>
  // janrain engage
  (function ($) {
    window.janrain = window.janrain || {};
    window.janrainWidgetOnload = function () {
      $(document).trigger('widgets.janrain.ready');
      janrain.events.onProviderLoginToken.addHandler(function (message) {
        $(document).trigger('widgets.janrain.logged-in', message);
      });
    };
    $(document).ready(function () {
      janrain.ready = true;
    });
    janrain.settings = {
      tokenUrl: '<%= engage_token_url %>',
      tokenAction: 'event'
    };
    $.getScript('https://rpxnow.com/js/lib/nov/engage.js');
  })(jQuery);

  // backplane
  (function ($) {
    var in_backplane_channel = function (bus_name, callback) {
      var connect = function (bus_name) {
        Backplane(connected);
        Backplane.init({
          serverBaseURL: 'https://backplane1.janrainbackplane.com/v2',
          busName: bus_name
        });
      }

      var connected = function () {
        var channel_id = Backplane.getChannelID();
        if (channel_id != undefined) {
          callback(channel_id);
          listen(channel_id);
        }
      }

      var listen = function (channel_id) {
        window.escSubscription = Backplane.subscribe(function (message) {
          console.info('message', message);
          if (message.type == 'identity/login') {
            $(document).trigger('backplane.logged-in', channel_id, message.messageURL);
          }
        });
        Backplane.expectMessages('identity/login');
      }

      connect(bus_name);
    }

    in_backplane_channel('gree.net', function (channel_id) {
      var setup_for_engage = function (channel_id) {
        janrain.engage.signin.setBackplaneChannel(channel_id);
        $(document).bind('widgets.janrain.logged-in', function (event, message) {
          janrain.engage.signin.modal.close();
          console.info('logged-in', message);
          $.post('<%= engage_token_path %>', {
            token: message.token
          }, function (response) {
            console.info(response);
          }, 'json');
        });
      };

      $(document).bind('widgets.janrain.ready', function () {
        setup_for_engage(channel_id);
      });
    });
  })(jQuery);
</script>